@model KOExam.Core.Entities.Test
@{
    
    int i = 0;
}

<!DOCTYPE html>

<div class="container">
    <main role="main" class="pb-3">
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>sorulariGetir</title>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        </head>
        <body>

            

            <textarea id="paragraf" class="form-control mb-3 " rows="10" readonly>@Model.WiredBody</textarea>
            <h2 class="text-center mb-3">QUESTİONS</h2>
            <div class="row">
                @foreach (var item in Model.Questions)
                {
                <div class="col-md-6 p-3">
                    <div class="card ">
                        <div class="card-header h5" style=" min-height: 360px; display: grid; place-items: center">@item.QuestionText</div>

                        @* <div class="form-control" id="basliklar">
                <p>
                    <label style=" font-size:20px;font-weight:bold ;white-space:normal" required="required">@item.QuestionText</label>
                </p>
            </div>
                        *@
                        <div class="card-body p-3 form-row">
                            <div class="form-group col-md-12 mb-3">
                                <button type="button" class="btn btn-info btn-block" id="@i" value="@item.TrueSolution">@item.A_Option</button>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <button type="button" class="btn btn-info btn-block" id="@(i+1)" value="@item.TrueSolution">@item.B_Option</button>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <button type="button" class="btn btn-info btn-block" id="@(i+2)" value="@item.TrueSolution">@item.C_Option</button>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <button type="button" class="btn btn-info btn-block" id="@(i+3)" value="@item.TrueSolution">@item.D_Option</button>
                            </div>
                        </div>
                    </div>
                </div>
                    i += 4;

                }
            </div>
            
            <button id="tamamla" type="submit" class="btn btn-primary mb-2 btn-block mt-4">Sınavı Bitir</button>

        </body>
    </html>
</main>
</div>



<script type="text/javascript">
    var cevap1;
    var cevap2;
    var cevap3;
    var cevap4;
    var dogrucevap;
    $(".btn").click(function () {
        if ($(this).attr('id') < 4) {
            dogrucevap = $(this).val()
            for (var i = 0; i < 4; i++) {
                $("#" + i).css('background', '#DCDCDC');
                $("#" + i).val(dogrucevap);
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            cevap1 = $(this).attr('id');
        }

        else if ($(this).attr('id') < 8) {
            dogrucevap = $(this).val()
            for (var i = 4; i < 8; i++) {
                $("#" + i).css('background', '#DCDCDC');
                $("#" + i).val(dogrucevap);
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            cevap2 = $(this).attr('id');
        }

        else if ($(this).attr('id') < 12) {
            dogrucevap = $(this).val()
            for (var i = 8; i < 12; i++) {
                $("#" + i).css('background', '#DCDCDC');
                $("#" + i).val(dogrucevap);
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            cevap3 = $(this).attr('id');
        }

        else if ($(this).attr('id') < 16) {
            dogrucevap = $(this).val()
            for (var i = 12; i < 16; i++) {
                $("#" + i).css('background', '#DCDCDC');
                $("#" + i).val(dogrucevap);
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            $(this).css('background', 'gray');
            if ($(this).text() == $(this).val()) {
                $(this).val("true");
            }
            cevap4 = $(this).attr('id');
        }
    });

    $("#tamamla").click(function () {
        if ($("#" + cevap1).val() == "true") {
            $("#" + cevap1).css('background', 'green');
        }
        else {
            $("#" + cevap1).css('background', 'red');
        }

        if ($("#" + cevap2).val() == "true") {
            $("#" + cevap2).css('background', 'green');
        }
        else {
            $("#" + cevap2).css('background', 'red');
        }

        if ($("#" + cevap3).val() == "true") {
            $("#" + cevap3).css('background', 'green');
        }
        else {
            $("#" + cevap3).css('background', 'red');
        }

        if ($("#" + cevap4).val() == "true") {
            $("#" + cevap4).css('background', 'green');
        }
        else {
            $("#" + cevap4).css('background', 'red');
        }
        $(".btn").attr("disabled", true);
    });


</script>